extend layout
block includes
	script(type='text/javascript').
		require(['player']);
block content
	table.table.table-hover#songs-list
		thead
			tr
				th(style='width:50px')
				th Song
				th Artist
				th Remix
				th(style='width:100px;')
					span.glyphicon.glyphicon-calendar
				th(style='width:100px;text-align:right;')
					span.glyphicon.glyphicon-time